<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bodyguard.gyudok.model.dao.Train_SubsDao">
	
	<!-- 트레인받는 사람의 아이디 즉 로그인된 사람의 아이디로 조회 -->
	<select id="selectAll" parameterType="String" resultType="Train_subs">
		SELECT *
		FROM TRAIN_SUBS
		WHERE trainee_id = #{trainee_id}
	</select>
	
	<!-- 트레이너 선택 후 구독 신청  -->
	<insert id="registOne" parameterType="Train_subs">
		INSERT INTO TRAIN_SUBS (trainee_id,trainer_id,trainer_nickname,months,startdate,enddate)
		VALUES (#{trainee_id},#{trainer_id},#{trainer_nickname},#{months},#{startdate},#{enddate})
	</insert>

</mapper>