<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bodyguard.gyudok.model.dao.Train_ReviewDao">

	<!-- 트레이너에 대한 리뷰 작성  -->
	<insert id="registOne" parameterType="Train_Review">
		INSERT INTO TRAIN_REVIEW (train_subs_id,title,content,trainee_id,trainer_id,trainer_nickname,rating)
		VALUES (#{train_subs_id},#{title},#{content},#{trainee_id},#{trainer_id},#{trainer_nickname},#{rating})
	</insert>
	
	
	<!--로그인한 내 아이디로 내가 작성한 트레이너 리뷰 리스트 조회  -->
	<select id="selectMYReview" parameterType="String" resultType="Train_Review">
		SELECT *
		FROM TRAIN_REVIEW
		WHERE trainee_id = #{trainee_id}
	</select>

	<!-- 트레이너의 대한 리뷰리스트를 조회 -->
		<select id="selectAll" parameterType="String" resultType="Train_Review">
		SELECT *
		FROM TRAIN_REVIEW
		WHERE trainer_nickname = #{trainer_nickname}
	</select>
		
</mapper>