<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bodyguard.gyudok.model.dao.BoardDao">

	<!-- 게시글 등록 -->
	<insert id="insertOne" parameterType="Board">
		INSERT INTO
		BOARD(id,user_id, category, title, content, filePath, fileName)
		VALUES(#{id},#{user_id},#{category},#{title},#{content},#{filePath}, #{fileName});
	</insert>

	<!-- 게시글 상세 조회 -->
	<select id="selectOne" parameterType="int" resultType="Board">
		SELECT *
		FROM
		BOARD
		WHERE id = #{id};
	</select>

	<!-- 게시글 수정 -->
	<update id="updateOne" parameterType="Board">
		UPDATE BOARD
		SET
		content =
		#{content}
		WHERE id = #{id};
	</update>

	<!-- 조회 수 증가 -->
	<update id="addViewCnt" parameterType="int">
		UPDATE BOARD
		SET viewcnt =
		viewcnt+1
		WHERE id =#{id};
	</update>

	<!-- 게시글 삭제 -->
	<delete id="deleteOne" parameterType="int">
		DELETE FROM BOARD
		WHERE id =
		#{id}
	</delete>

	<!-- 게시글 검색 -->
	<select id="selectBoards" parameterType="String"
		resultType="Board">
		SELECT * FROM BOARD
		<if test="keyword != null">
			WHERE content LIKE CONCAT
			('%',#{keyword},'%')
			OR title LIKE
			CONCAT ('%',#{keyword},'%')
		</if>
	</select>

	<!-- 작성자별 게시글 조회 -->
	<select id="selectUserBoards" parameterType="String"
		resultType="Board">
		SELECT * FROM BOARD
		WHERE user_id = #{user_id};
	</select>


	<!-- 게시글의 댓글 수 증가 -->
	<update id="addReviewCnt" parameterType="int">
		UPDATE BOARD
		SET
		reviewcnt = reviewcnt+1
		WHERE id = #{id};
	</update>

</mapper>